#wrapper {
	height: 100%;
	width: 100%;
	font-size: 0;
	overflow: hidden;
	font-family: sans-serif;
}

#tblcontainer {
	float: left;
	height: 100%;
	width: 100%;
	overflow: scroll;
	box-sizing: border-box;
	border-top: solid 2px silver;
	border-right: solid 2px silver;
	border-left: solid 2px silver;
}

#titlecontainer {
	float: right;
}

#queuecontainer {
	height: 92%;
	overflow: scroll;
	box-sizing: border-box;
	border-top: solid 2px silver;
	border-right: solid 2px silver;
	border-left: solid 2px snow;
}

#tbl {
	table-layout: fixed;	/*make cell width = first row specified*/
	border-right: solid 1px slategray;
	width: auto;
	border-collapse: collapse;
}

#tbl th {
	font-size: 14px;
	font-weight: bold;
	background-color: #7799AA;
	color: white;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	height: 30px;
}

#tbl td {
	empty-cells:show;
	font-size: 14px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
}
tr.sunday { background-color: #FFE0E7; }
tr.monday { background-color: #FFFFEE; }
tr.tuesday { background-color: #FFF7F7; }
tr.wednesday { background-color: #EEFFEE; }
tr.thursday { background-color: #FFEEE7; }
tr.friday { background-color: #EEEEFF; }
tr.saturday { background-color: #FFEEFF; }

td.sun { background-color: #FFD0D7; }
td.mon { background-color: #FFFFD7; }
td.tue { background-color: #FFE7E7; }
td.wed { background-color: #D7FFD7; }
td.thu { background-color: #FFEED7; }
td.fri { background-color: #DDDDFF; }
td.sat { background-color: #FFDDFF; }

#tbl td:first-child {
	font-size: 12px;
/*	background-color: #DDFFFF; */
}

#tbl td.sun:before { content: "อาทิตย์ "; }
#tbl td.mon:before { content: "จันทร์ "; }
#tbl td.tue:before { content: "อังคาร "; }
#tbl td.wed:before { content: "พุธ "; }
#tbl td.thu:before { content: "พฤหัส "; }
#tbl td.fri:before { content: "ศุกร์ "; }
#tbl td.sat:before { content: "เสาร์ "; }

#titlebar {
	height: 40px;
	background-color: #7799AA;
}

#titlename {
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 100px;
	line-height: 35px;
	margin-left: 25px;
}

#queuetbl, #historytbl, #servicetbl {
	table-layout: fixed;	/*make cell width = first row specified*/
	width: auto;
	border-right: solid 1px slategray;
	border-collapse: collapse;
}

/*#queuetbl tr:nth-child(odd), */
#historytbl tr:nth-child(odd), 
#servicetbl tr:nth-child(odd) {
    background-color: #F0FFF0;
}

#queuetbl th, #historytbl th, #servicetbl th {
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	background-color: #7799AA;
	color: white;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
}

#queuetbl td, #historytbl td, #servicetbl td {
	empty-cells:show;
	font-size: 14px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
	height: 20px;
}
/*
#queuetbl td:first-child {
	background-color: #DDFFFF;
	color: 557799;
}
*/
#servicetbl td:first-child {
	text-align: center;
}

#servicehead {
	width: 800px;
	margin: 0 auto;
}

#servicehead span.item {
	display:inline-block; 
	border: solid 1px white;
	width: 170px;
	padding: 2px 10px;
}

#servicehead span.Readmission,
#servicetbl tr.Readmission { background-color: #AACCCC; }
#servicehead span.Reoperation,
#servicetbl tr.Reoperation { background-color: #CCCCAA; }
#servicehead span.Infection,
#servicetbl tr.Infection { background-color: #CCAAAA; }
#servicehead span.Morbidity,
#servicetbl tr.Morbidity { background-color: #AAAACC; }
#servicehead span.Dead,
#servicetbl tr.Dead { background-color: #AAAAAA; }

.ui-sortable-helper {
	display: table;
}

.ui-dialog {
	position: fixed;
	box-shadow: 10px 20px 30px slategray;
}

.ui-dialog-title{
    font-size: 120%;
	text-align: center; 
}

.ui-icon-closethick {
	float: right;
	margin: 10px 10px 0 0;
}

.ui-resizable-e { 
	cursor: e-resize; 
	width: 10px; 
	top: 0; 
	right: -2px;
}

.ui-icon:hover {
	cursor: pointer;
	border: black dotted
}

.ui-icon-circle-close {
	float: right;
	background-color: white;
	height: 15px;
	width: 15px;
}

.ui-dialog-buttonpane {
	font-size: 0px;
}

.ui-dialog-buttonset {
	font-size: 14px;
	margin: 0 30px 0 0;
}

#login {
	width:300px; 
	margin-left:auto; 
	margin-right:auto; 
	text-align:center; 
	background-color:papayawhip; 
	border:2px solid slategray;
	box-shadow: 20px 30px 40px slategray;
}

#editcell { 
	display:none;
	position: relative;
	text-align: left; 
	overflow: hidden;
	border: solid 1px #0099FF;
	background-color: white; 
	box-shadow: 5px 5px 10px slategray;
}

#menu, #stafflist {
	position: relative;
	font-size: 14px;
}

#undelete { 
	display:none;
	position: relative;
	width: 125px;
}

#undel { 
	display: inline-block;
	text-align: center; 
	height: 25px;
	width: 100px;
	font-size: 14px;
	color: black;
	background-color: white;
	border: 2px solid slategray;
	line-height: 25px;
}

#datepicker, #datepicking {
	font-size: 12px;
}

#monthpicker .ui-datepicker-calendar {
	display: none;
}

#dialogEquip {
	display: none;
	line-height:150%;
	font-size: 14px;
	color: black;
	background-color: white;
}

#dialogEquip div,
#dialogEquip span {
	display:inline-block;
	padding: 0;
	margin: 0;
	border: 0;
}

input[type=radio] + label {
	color: #999999;
	background-color: white;
}
 
input[type=radio]:checked + label {
	color: #000000;
}

input[type=checkbox] + label {
	color: #999999;
	background-color: white;
}
 
input[type=checkbox]:checked + label {
	color: #000000;
}
