/*
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#wrapper {
	height: 100%;
	width: 100%;
	font-size: 0;
}

.ui-resizable-e { 
	cursor: e-resize; 
	width: 15px; 
	right: -5px; 
	top: 0; 
	bottom: 0; 
}

#tblcontainer {
	margin: 0;
	padding: 0;
	float: left;
	box-sizing: border-box;
	overflow-y: auto;
}

#queuecontainer {
	margin: 0;
	padding: 0;
	float: right;
	box-sizing: border-box;
	overflow-y: auto;
}
*/
html, body {
/*	height: 100%;*/
	overflow: hidden;
	margin: 0;
}
#wrapper {
	height: 100%;
}
#tblcontainer {
	float: left;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0.3em;
}
#queuecontainer {
	float: right;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0.3em;
}

.ui-resizable-e { 
	cursor: e-resize; 
	width: 15px; 
	right: -5px; 
	top: 0; 
	bottom: 0; 
}

#tbl {
	border-right: solid 1px slategray;
	width: auto;
	table-layout: fixed;	/*make cell width = first row specified*/
	overflow: hidden;
	border-collapse: collapse;
	padding: 0.4em;
}

#tbl th {
	font-size: 16px;
	font-weight: bold;
	background-color: steelblue;
	color: papayawhip;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	height: 40px;
}

#tbl tr {
	background-repeat: no-repeat;
	background-position: 300px;
}

#tbl td {
	empty-cells:show;
	font-size: 16px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}

tr.sunday, td.sunday { background-color: #FFEEEE; }
tr.monday, td.monday { background-color: #FFFFEE; }
tr.tuesday, td.tuesday { background-color: #FFFEFE; }
tr.wednesday, td.wednesday { background-color: #EEFFEE; }
tr.thursday, td.thursday { background-color: #FFEEEE; }
tr.friday, td.friday { background-color: #EEEEFF; }
tr.saturday, td.saturday { background-color: #FFEEFF; }

td.sun { background-color: #FFDDDD; }
td.mon { background-color: #FFFFDD; }
td.tue { background-color: #FFEEEE; }
td.wed { background-color: #DDFFDD; }
td.thu { background-color: #FFEEDD; }
td.fri { background-color: #DDDDFF; }
td.sat { background-color: #FFDDFF; }

td.sun:before { content: "อาทิตย์ "; }
td.mon:before { content: "จันทร์ "; }
td.tue:before { content: "อังคาร "; }
td.wed:before { content: "พุธ "; }
td.thu:before { content: "พฤหัส "; }
td.fri:before { content: "ศุกร์ "; }
td.sat:before { content: "เสาร์ "; }

#queuetbl {
	border-right: solid 1px slategray;
	width: auto;
	table-layout: fixed;	/*make cell width = first row specified*/
	overflow: hidden;
	border-collapse: collapse;
	background-color: #F0F0F0;
	padding: 0.4em;
}

#queuetbl th {
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	background-color: steelblue;
	color: papayawhip;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
}

#queuetbl td {
	empty-cells:show;
	font-size: 12px;
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}

#login {
	width:300px; 
	margin-left:auto; 
	margin-right:auto; 
	text-align:center; 
	background-color:papayawhip; 
	border:2px solid slategray;
}

#editcell { 
	display:none;
/*	position: absolute;*/
	font-size: 16px;
	text-align: left; 
	overflow: hidden;
	border: solid 1px #0099FF;
	background-color: white; 
/*	z-index: 1000;*/
	box-shadow: 5px 5px 10px slategray;
}

#alert {
	position: fixed;
	display:none;
	z-index: 1;
	top:25%;
	left:30%;
	width: 300px;
	height:200px;
	line-height: 180px;
	background-color: snow;
	border: 2px solid silver;
	text-align:center;
	font-weight: bold;
	font-size: 24px;
	color: slategray;
	box-shadow: 20px 30px 40px slategray;
}

.dialog {
	position: fixed;
	box-shadow: 10px 20px 30px slategray;
}

.historytable  {
	display: none;
	table-layout: fixed;
	overflow: scroll;
	border-collapse: collapse;
	border-right: solid 1px slategray;
}

.historytable th {
	font-size: 16px;
	font-weight: bold;
	color: papayawhip;
	background-color: steelblue;
	text-align: center;
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	height: 30px;
}

.historytable td {
	empty-cells:show;
	font-size: 14px;
	color: black;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: text-top;
	border-color: #000000; 
	border-left: solid 1px silver;
	border-bottom: solid 1px silver;
}
