
@media only screen and (max-width: 600px) {

	/* Force table to not be like tables anymore */
	#tbl table, 
	#tbl thead, 
	#tbl tbody, 
	#tbl th, 
	#tbl td, 
	#tbl tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#tbl tr th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#tbl tr { border: 1px solid #ccc; }

	#tbl td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align:left;
	}

	#tbl td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		vertical-align: top;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#tbl td:before { content: attr(data-title); }

	#tbl td.sun:before { content: "วันอาทิตย์ "; }
	#tbl td.mon:before { content: "วันจันทร์ "; }
	#tbl td.tue:before { content: "วันอังคาร "; }
	#tbl td.wed:before { content: "วันพุธ "; }
	#tbl td.thu:before { content: "วันพฤหัส "; }
	#tbl td.fri:before { content: "วันศุกร์ "; }
	#tbl td.sat:before { content: "วันเสาร์ "; }
}
