@media print { 
	BODY {
		font-size: 16px; 
		line-height: 170%; 
		background: white;
	}
	.pale {
		color:rgba (0, 0, 0, 0);
		text-shadow: 0 0 0 #707070;
		font-weight: 200;
	}
	input, input[type=checkbox] { 
		font-size: 16px; 
		border: 0px; 
	}
	span { 
		display:inline-block; 
	} 
}

