@media print { 
	BODY {
		font-size: 16px; 
		line-height: 170%; 
		background: white;
		margin: 25mm 25mm 25mm 25mm;
	}
	.pale {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0 0 0 #707070;
		font-weight: 200;
	}
	input, input[type=checkbox] { 
		font-size: 16px; 
		border-top: 0px; 
		border-left: 0px; 
		border-bottom: 0px; 
		border-right: 0px; 
		border-color: rgb(100, 100, 100);
	}
	span { 
		display:inline-block; 
	} 
}

