@media print { 
	BODY {
		font-size: 16px; 
		line-height: 170%; 
		background: white;
		padding-top: 30px;
		padding-left: 30px;
	}

	.pale {
		color: #CCCCCC;
	}

	input, input[type=checkbox] { 
		font-size: 16px; 
		border: 0px; 
	}

	span { 
		display:inline-block; 
	} 
}

